@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* sidebar white */
  --background-color: #efefef;
  --background-sidebar: #ffffff;
  --background-switch: #C8BCF6;
  --background-button: #09090A;
  --background-hover: #efefef;
  --text-color: #09090a;
  --closed-color: #ffffff;
  --form-color: #f5f5f5;
  --font-size: 16px;
  --font-family: "Open Sans", sans-serif;
  --font-600: 600;
  --font-400: 400;

  /*transition*/
  --transition-02: all 0.5s ease;
}

body {
  background: var(--background-color);
  font-family: var(--font-family);
}

body.mode {
  /* sidebar dark */
  --background-color: #09090A;
  --background-sidebar: #09090A;
  --background-switch: #1F1F22;
  --background-button: #C8BCF6;
  --background-hover: #1F1F22;
  --text-color: #EFEFEF;
  --closed-color: #09090A;
  --form-color: #1F1F22;
  --border-color: 1px solid white;
}

a,
h2,
span {
  text-decoration: none;
  color: var(--text-color);
}

/* sidebar */

.sidebar-nav {
  position: fixed;
  background: var(--background-sidebar);
  padding: 16px;
  z-index: 100;
  width: 266px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: var(--transition-02);
}

body.mode .sidebar-nav,
body.mode .sidebar-nav.close {
  border-right: var(--border-color);
}

/* sidebar header */

.sidebar-header {
  position: relative;
}

.user-box {
  display: flex;
  margin-bottom: 44px;
}

.user-nick {
  font-weight: var(--font-600);
}

.user-account {
  margin-left: 12px;
}

.sidebar-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  background: var(--form-color);
  border-radius: 10px;
}

.sidebar-form button {
  position: relative;
  min-width: 56px;
  height: 56px;
  border: none;
  cursor: pointer;
  background: var(--form-color);
  padding: 16px;
  border-radius: 10px;
}

.sidebar-form input[type="search"] {
  width: 70%;
  outline: none;
  border: none;
  background: transparent;
}

.sidebar-form input::placeholder {
  font-size: var(--font-size);
  color: var(--text-color);
  font-weight: var(--font-400);
}

.sidebar-form input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.sidebar-close {
  position: absolute;
  right: -48px;
  color: var(--closed-color);
  background-color: var(--background-button);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: var(--transition-02);
}

/* sidebar menu */

.sidebar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-menu li,
.config-list li {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 16px;
  padding: 16px;
  width: 100%;
  transition: var(--transition-02);
  border-radius: 10px;
}

.sidebar-menu li:hover,
.config-list li:hover {
  background: var(--background-hover);
}

.sidebar-menu a {
  text-decoration: none;
  font-size: var(--font-size);
  font-weight: var(--font-400);
}

.sidebar-icons {
  position: relative;
  width: 24px;
  height: 24px;
}

.switch-mode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* sidebar down */

.config-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* sidebar switch */

.toggle-switch {
  height: 32px;
  min-width: 56px;
  position: relative;
  background: var(--background-switch);
  border-radius: 18px;
  transition: var(--transition-02);
}

.switch {
  position: relative;
  width: 28px;
  height: 28px;
  background: var(--background-button);
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 17px;
  transition: var(--transition-02);
}

.switch-moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.mode .switch {
  left: 39px;
}

/* sidebar closed*/

.sidebar-nav.close a,
.sidebar-nav.close span,
.sidebar-nav.close h2,
.sidebar-nav.close .user-account,
.sidebar-nav.close .config-list .sidebar-icons {
  display: none;
}

.sidebar-nav.close {
  width: 104px;
}

.sidebar-nav.close li,
.sidebar-nav.close form {
  width: 56px;
  margin: 0 auto;
}

.sidebar-nav.close .config-list li,
.user-box {
  justify-content: center;
}

.sidebar-nav.close .sidebar-close {
  transform: rotate(180deg);
}

/* switch mode */

.sidebar-menu .switch-mode:nth-child(2),
.config-list .switch-mode:nth-child(2),
.sidebar-form .switch-mode:nth-child(2),
.switch .switch-moon:nth-child(2) {
  opacity: 0;
}

body.mode .sidebar-menu .switch-mode:nth-child(2),
body.mode .config-list .switch-mode:nth-child(2),
body.mode .sidebar-form .switch-mode:nth-child(2),
body.mode .switch .switch-moon:nth-child(2) {
  opacity: 1;
}

body.mode .sidebar-menu .switch-mode:nth-child(1),
body.mode .config-list .switch-mode:nth-child(1),
body.mode .sidebar-form .switch-mode:nth-child(1),
body.mode .switch .switch-moon:nth-child(1) {
  opacity: 0;
}